[submodule "vimrc"]
	path = vimrc
	url = https://github.com/amix/vimrc.git
[submodule "vim-puppet"]
	path = vim-puppet
	url = git://github.com/rodjek/vim-puppet.git
[submodule "powerline-shell"]
	path = powerline-shell
	url = https://github.com/milkbikis/powerline-shell
[submodule "tmux-submodule"]
	path = tmux-submodule
	url = https://github.com/gpakosz/.tmux
